<%= Time.now %>
<p><%= @user.name %>, <%= @user.email %></p>

<div>
  <% if @user.entries.any? %>
    <h3>Entries (<%= @user.entries.count %>)</h3>
    <ol >
      <%= render @entries %>
    </ol>
    <%= will_paginate @entries %>
  <% end %>
</div>
